#!/data/com.termux/files/usr/bin/bash

# My Personal Aliases
   alias ssh-computer="ssh $COMPUTER_ADDRESS";
   alias sftp-computer="sftp $COMPUTER_ADDRESS";
   alias ssh-setup="ssh-copy-id $COMPUTER_ADDRESS";
   alias mysql_login='mysql -u "$MYSQL_USERNAME" -p"$MYSQL_PASSWORD"';
   alias translate="trans en:id";
   alias terjemahkan="trans id:en";

# Functional Aliases
   alias apply="source ~/.bash_profile";
   alias quit="exit; kill -9 $$";

   # Open up an unlimited session
      # Note that you have to tap on 'OPEN FOLDER' to open a new session
      alias trigger-termux-session="am start -n com.termux/.filepicker.TermuxFileReceiverActivity -d file:///dev/null > /dev/null";

# Shortcuts
   # General
      alias ls="ls --almost-all --color=always";
      alias grep="grep --color=always";
      alias diff="diff --color=always";
      alias rm="rm -i";
      alias mv="mv -i";
      alias cp="cp -i";
      alias rename="rename -i";
      alias .aliases="vim ~/.aliases";
      alias .auto_completion="vim ~/.auto_completion";
      alias .bashrc="vim ~/.bashrc";
      alias .bash_profile="vim ~/.bash_profile";
      alias .bash_logout="vim ~/.bash_logout";
      alias .bash_prompt="vim ~/.bash_prompt";
      alias .functions="vim ~/.functions";
      alias .gitattributes="vim ~/.gitattributes";
      alias .gitconfig="vim ~/.gitconfig";
      alias .inputrc="vim ~/.inputrc";
      alias .nanorc="vim ~/.nanorc";
      alias .vimrc="vim ~/.vimrc";
      alias .export="vim ~/.export";

   # nano's Syntax Highlighting
      nanorc_filenames=($(find $SHARE/nano -type f -name "*.nanorc"));
      nanorc_basenames=($(basename --multiple ${nanorc_filenames}));

      for i in ${!nanorc_basenames[@]}; do
         alias ${nanorc_basenames[i]}="nano ${nanorc_filenames[i]}";
      done;

      unset nanorc_filenames nanorc_basenames i;

   # Paths
      alias internal="cd $INTERNAL; ls";

      if [ -v EXTERNAL ]; then
         alias external="cd $EXTERNAL; ls";

         if [ -v EXTERNAL_STORAGE ]; then
            alias external-storage="cd $EXTERNAL_STORAGE; ls";
         fi;
      fi;

      alias nanorc="cd $NANORC; ls";
      alias vimrc="cd $VIMRC; ls";
      alias etc="cd $ETC; ls";
      alias bin="cd $BIN; ls";
      alias share="cd $SHARE; ls";
