#!/data/data/com.termux/files/usr/bin/bash

function compare() {
   if (($# == 2)); then
      if cmp -s -- "$1" "$2" 2> /dev/null; then
         echo -en "compare: \e[32midentical\e[0m\n" >&2;
      else
         echo -en "compare: \e[31mdifferent\e[0m\n" >&2;
         return 1;
      fi;
   else
      echo "compare: argument count error: expected exactly 2 arguments, $# given" >&2;
      return 1;
   fi;
}

function apk_install() {
   if (($# == 1)); then
      am start -n com.google.android.packageinstaller/com.android.packageinstaller.PackageInstallerActivity -d "file://$(realpath "$1" 2> /dev/null)" > /dev/null;
   else
      echo "Usage: apk_install <apk_file>" >&2;
      return 1;
   fi;
}

function apk_uninstall() {
   if (($# == 1)); then
      am start -n com.google.android.packageinstaller/com.android.packageinstaller.UninstallerActivity -d "$1" > /dev/null;
   else
      echo "Usage: apk_uninstall <packag>" >&2;
      return 1;
   fi;
}

function set-title() {
   echo -en "\e]0;$@\a";
}
